.signInButton {
  position: fixed !important;
  top: 46vh !important;
  left: 25% !important;
  border: 1px solid black !important;
  box-shadow: 5px 8px 10px #888 !important;
  outline: none !important;

  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
#msg {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  #msg {
    font-size: 18px;
  }
  #nav {
    width: 92%;
  }
}
@media (min-width: 768px) {
  #msg {
    font-size: 25px;
  }
  #nav {
    width: 98%;
  }
  .signInButton {
    top: 47vh !important;
    left: 44% !important;
  }
}
#nav {
  box-shadow: 5px 8px 10px #888;
  position: fixed;
  padding: 20px;
  background-image: linear-gradient(90.06deg, white, white 99.97%);
  top: 0px;
  flex-direction: row;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.typo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px !important;
  font-weight: 600;
  font-variant: small-caps;
}
#explore_typo {
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.bgimage {
  background: url("../assets/bgimg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .bgimage {
    background: url("../assets/bgimg_mobile.png");
  }
  .typo {
    font-size: 12px !important;
  }
}
.typo_states {
  font-weight: 600 !important;
}
.typo_states,
.typo_districts {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-variant: small-caps;
  cursor: pointer;
  font-weight: 600 !important;
}
.typo_districts {
  background: white;
  border-radius: 5px;
  text-align: center !important;
  padding: 4px;
  width: fit-content;
  box-shadow: 5px 8px 10px #888;
}
.typo_states:hover,
.typo_districts:hover {
  background-color: #e88d14;
  box-sizing: border-box;
  color: white;
  border-radius: 5px;
}
.states_grid {
  position: fixed;
  top: 20%;

  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.district_grid {
  align-items: center;
  height: 80vh;
  overflow-y: auto;
  position: fixed;
  top: 15%;
  padding-top: 25px;
  margin-left: 1% !important;
  width: 48% !important;
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .district_grid {
    width: 96% !important;
    opacity: 0.9 !important;
  }
  .states_grid {
    color: white !important;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.district_grid::-webkit-scrollbar {
  width: 15px;
}
.district_grid::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
  width: 10px !important;
}
.district_grid::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dcdcdc;
}
.map_Grid {
  align-items: center;
  opacity: 0.9;
  height: 70vh;
  overflow: auto;
  position: fixed;
  top: 15%;
  border-radius: 20px;
  right: 10px !important;
  width: 47% !important;
}
#current_view {
  background-color: #e88d14;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 15px;
}
@media (max-width: 768px) {
  #current_view {
    border-radius: 20px !important;
    margin-top: 2px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px !important;
  }
}
.map_Grid_mobile {
  align-items: center;
  height: 70vh;
  overflow: auto;
  position: fixed;
  top: 15%;
  left: 2%;
  border-radius: 20px;
  right: 10px !important;
  width: 96% !important;
}
